@model IntranetWeb.ViewModel.Administrador.Rol
@{Layout = null;
    ViewBag.Title = Resources.TituloPaginaResource.EditarRol;
}

<div id="divTabEditarRol" class="tabbable" data-titulo="@ViewBag.Title">
    <ul id="ulTabCargo" class="nav nav-tabs tab-space-4">
        <li id="liDatosGenerales" class="active">
            <a href="#divBloqueDatosGenerales" data-toggle="tab">@Resources.TituloWidget.DatosGenerales</a>
        </li>
        <li id="liRoles">
            <a href="#divBloqueAplicaciones" data-toggle="tab">@Resources.TituloWidget.Aplicaciones</a>
        </li>
    </ul>

    @using (Ajax.BeginForm("editarRol", "Administrador", null, new AjaxOptions { HttpMethod = "Post", LoadingElementId = "divActualizarLoading", AllowCache = false, OnSuccess = "rolSAI.submitSuccess(data)" }, new { @Id = "formEditarRegistro", role = "form" }))
    {
        <div id="divTabRol" class="tab-content">
            <div class="tab-pane in active scrollable" id="divBloqueDatosGenerales" data-size="60">
                @{Html.RenderPartial("Crear/Shared/_getDatosGeneralesRol", Model);}
            </div>

            <div class="tab-pane scrollable" id="divBloqueAplicaciones" data-size="60">
                @{Html.RenderPartial("../Shared/Configuracion/_getAplicaciones", Model);}
            </div>
        </div>

        <div class="space-4"></div>
        <div id="divActualizarLoading" class="form-group" style="display:none !important">
            <div class="blue"> <i class="ace-icon fa fa-spinner fa-spin blue bigger-125 "></i> <strong>  @Resources.EtiquetaResource.Procesando</strong></div>
        </div>
        <div class="">
            <div id="resultUpdate"></div>
        </div>
        <button type="submit" class="hidden" name="submitButton" id="grabar" value="grabar">@Resources.TituloBotonResource.Guardar</button>
        <button type="button" class="hidden" name="cerrar" id="cerrar" value="cerrar">@Resources.TituloBotonResource.Cerrar</button>
    }
</div>
