
@model IntranetWeb.ViewModel.Administrador.SocioComercial

@{Layout = null;}

<div class="row">

    <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.SegmentoNegocioSeleccionado)<br />
        @Html.DisplayFor(m => m.DescripcionSegmentoNegocio, new { Class = "form-control " })
    </div>  
    
    <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.DistribuidorSeleccionado)<br />
        @Html.DisplayFor(m => m.DescripcionDistribuidor, new { Class = "form-control " })
    </div>
 </div>
<div class="row">   
    <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.NombreUsuario)<br />
        @Html.DisplayFor(m => m.NombreUsuario, new { Class = "form-control " })
    </div>
    
    <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.Documento)<br />
        @Html.DisplayFor(m => m.Documento, new { Class = "form-control " })
    </div>    

</div>


<div class="row">
    <div class="form-group  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { Class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "help-block" })
    </div>

</div>

<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-block" })
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.IndicadorActivo)
        @Html.CheckBoxAceFor(m => m.IndicadorActivo, new { Class = "form-control" })
        @Html.ValidationMessageFor(m => m.IndicadorActivo, "", new { @class = "help-block" })
    </div>

</div>

<div class="row">
    
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.TelefonoFijo)
        @Html.TextBoxFor(m => m.TelefonoFijo, new { Class = "form-control" })
        @Html.ValidationMessageFor(m => m.TelefonoFijo, "", new { @class = "help-block" })
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.TelefonoMovil)
        @Html.TextBoxFor(m => m.TelefonoMovil, new { Class = "form-control" })
        @Html.ValidationMessageFor(m => m.TelefonoMovil, "", new { @class = "help-block" })
    </div>
</div>

<!--widget datos Dirección -->
<div class="widget-box transparent">
    <div class="widget-header">

        <h4 class="widget-title lighter"><i class="fa fa-map-marker"></i> @Resources.TituloWidget.Direccion</h4>
        <div class="widget-toolbar no-border"></div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.LabelBoldFor(m => m.PaisSeleccionado)
                    @Html.DropDownListFor(m => m.PaisSeleccionado, new SelectList(Model.Pais, "Value", "Text"), HttpUtility.HtmlDecode(Resources.DescripcionResource.Seleccione + " " + Html.DisplayNameFor(m => m.PaisSeleccionado)), new { @class = "select2 form-control pais", data_url = Url.Action("getProvincias", "Select") })
                    @Html.ValidationMessageFor(model => model.PaisSeleccionado, "", new { @class = "help-block" })
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.LabelBoldFor(m => m.ProvinciaSeleccionada)
                    @Html.DropDownListFor(m => m.ProvinciaSeleccionada, new SelectList(Model.Provincia, "Value", "Text"), HttpUtility.HtmlDecode(Resources.DescripcionResource.Seleccione + " " + Html.DisplayNameFor(m => m.ProvinciaSeleccionada)), new { @class = "select2 form-control provincia", data_url = Url.Action("getDistritos", "Select") })
                    @Html.ValidationMessageFor(model => model.ProvinciaSeleccionada, "", new { @class = "help-block" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.LabelBoldFor(m => m.DistritoSeleccionado)
                    @Html.DropDownListFor(m => m.DistritoSeleccionado, new SelectList(Model.Distrito, "Value", "Text"), HttpUtility.HtmlDecode(Resources.DescripcionResource.Seleccione + " " + Html.DisplayNameFor(m => m.DistritoSeleccionado)), new { @class = "select2 form-control distrito", data_url = Url.Action("getCorregimientos", "Select") })
                    @Html.ValidationMessageFor(m => m.DistritoSeleccionado, "", new { @class = "help-block" })

                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @Html.LabelBoldFor(m => m.CorregimientoSeleccionado)
                    @Html.DropDownListFor(m => m.CorregimientoSeleccionado, new SelectList(Model.Corregimiento, "Value", "Text"), HttpUtility.HtmlDecode(Resources.DescripcionResource.Seleccione + " " + Html.DisplayNameFor(m => m.CorregimientoSeleccionado)), new { @class = "select2 form-control corregimiento" })
                    @Html.ValidationMessageFor(m => m.CorregimientoSeleccionado, "", new { @class = "help-block" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    @Html.LabelBoldFor(m => m.Calle)
                    @Html.TextAreaFor(m => m.Calle, new { @class = "form-control", @row = "7" })
                    @Html.ValidationMessageFor(m => m.Calle, "", new { @class = "help-block" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => Model.Id)
@Html.HiddenFor(m => m.TipoDocumentoSeleccionado)
@Html.HiddenFor(m => m.NumeroDocumento)
@Html.HiddenFor(m => m.FechaCreacion)
@Html.HiddenFor(m => m.DistribuidorSeleccionado)
@Html.HiddenFor(m => m.SegmentoNegocioSeleccionado)