@model IntranetWeb.ViewModel.Administrador.RespuestaOperadorGCM
@{
    ViewBag.Title = "Respuestas del operador vía GCM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header"><h1>@ViewBag.Title</h1></div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @ViewBag.Title &nbsp;
            <div class="widget-toolbar">
                <a href="javascript:void(0);" data-rel="tooltip" data-placement="top" title="@Resources.EtiquetaResource.CrearRegistro" class="tooltip-info icono-crear-respuesta" data-action="create"> <i id="iCreateTablaRespuesta" class="ace-icon fa fa-plus white"> </i></a>
            </div>
        </div>
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
            <table id="tableRespuestaOperadorGCM" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable"
                   data-url="@Url.Action("consultarRespuestaOperadorGCM")"
                   data-url-crear="@Url.Action("_getCrearRespuestaOperadorGCM")" 
                   data-url-editar="@Url.Action("_getEditarRespuestaOperadorGCM")"
                   data-url-localization="@Url.Content("~/Scripts/dataTables/localization/"+Resources.ConfiguracionResource.DataTables+ ".json")"
                   role="grid" aria-describedby="dynamic-table_info">
                <thead>
                    <tr role="row">
                        <th  tabindex="0" aria-controls="dynamic-table" data-name="EditarRegistro" rowspan="1" colspan="1" aria-label="Acciones"></th>
                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="Id" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.Id)">@Html.DisplayNameFor(m => m.Id)</th>
                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="Titulo" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.Titulo)">@Html.DisplayNameFor(m => m.Titulo)</th>
                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="DescripcionTipoAtencion" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.TipoAtencionSeleccionada)">@Html.DisplayNameFor(m => m.TipoAtencionSeleccionada)</th>
                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="DescripcionEstatus" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.DescripcionEstatus)">@Html.DisplayNameFor(m => m.DescripcionEstatus)</th>
                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="FeEstatus" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.FeEstatus)">@Html.DisplayNameFor(m => m.FeEstatus)</th>                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryTable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/intranetSAI/Administrador/respuestaOperadorGCM")    
}
@section Styles {
    @Styles.Render("~/Content/css/select2")
}
