@model IntranetWeb.ViewModel.Administrador.Usuario

<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.TipoDocumentoSeleccionado)
        @Html.DropDownListFor(m => m.TipoDocumentoSeleccionado, new SelectList(Model.TipoDocumento, "Value", "Text"), HttpUtility.HtmlDecode(Resources.DescripcionResource.Seleccione +" " + Html.DisplayNameFor(m => m.TipoDocumentoSeleccionado)), new { @class = "select2 form-control" })
        @Html.ValidationMessageFor(model => model.TipoDocumentoSeleccionado, "", new { @class = "help-block" })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.NumeroDocumento)<br />
        @Html.TextBoxFor(m => m.NumeroDocumento, new { Class = "form-control text-uppercase" })
        @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "help-block" })
    </div>
</div>

<div class="row">
    <div class="form-group  col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        @Html.LabelBoldFor(m => m.NombreUsuario)
        @Html.TextBoxFor(m => m.NombreUsuario, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "help-block" })
    </div>
    
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.NombreApellido)<br />
        @Html.TextBoxFor(m => m.NombreApellido, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.NombreApellido, "", new { @class = "help-block" })
    </div>
</div>

<div class="row bloqueContrasena">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.ContrasenaNueva)<br />
        @Html.PasswordFor(m => m.ContrasenaNueva, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.ContrasenaNueva, "", new { @class = "help-block" })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.RepetirContrasena)<br />
        @Html.PasswordFor(m => m.RepetirContrasena, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.RepetirContrasena, "", new { @class = "help-block" })
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.FechaNacimiento)<br />
        @Html.TextBoxFor(m => m.FechaNacimiento, new { Class = "form-control date-picker" })
        @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "help-block" })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.Email)<br />
        @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-block" })
    </div>
</div>

<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.TelefonoFijo)<br />
        @Html.TextBoxFor(m => m.TelefonoFijo, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "help-block" })
    </div>

    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @Html.LabelBoldFor(m => m.TelefonoMovil)<br />
        @Html.TextBoxFor(m => m.TelefonoMovil, new { Class = "form-control" })
        @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "help-block" })
    </div>
</div>

@Html.HiddenFor(m => m.IndicadorActivo)
@Html.HiddenFor(m => m.Id)
