@model IntranetWeb.ViewModel.Cliente.Cliente
@{
    ViewBag.Title = Resources.TituloPaginaResource.Cliente;
    ViewBag.Description = "Módulo para la administración de los Clientes";
}

<div class="page-header"    data-etiqueta-procesando="@Resources.EtiquetaResource.Procesando"
                            data-confirma-cerrar-tab="@Resources.AdvertenciaResource.ConfirmarCerrarTab"><h1>@ViewBag.Title</h1></div>
<div class="tabbable">

    <ul id="ulTabCliente" class="nav nav-tabs tab-space-4">
        <li id="liTablaCliente" data-id-cliente="0" class="active">
            <a href="#divTabClientes" data-toggle="tab">@ViewBag.Title</a>
        </li>        
    </ul>

    <div id="divTabContenCliente" class="tab-content">
        <div class="tab-pane in active"data-id-cliente="0" id="divTabClientes">
            <!--div class="scrollable" data-size="64" -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                       @ViewBag.Title &nbsp; <i id="iLoadingTablaCliente" class='ace-icon fa fa-spinner fa-spin white bigger-125 ' style="display:none"></i>
                        <div class="widget-toolbar" id="divWidgetToolbarCrearRegistroCliente">
                            <a href="javascript:void(0);"  data-rel="tooltip" data-placement="top" title="@Resources.EtiquetaResource.CrearRegistro" class="tooltip-info icono-crear-registro" data-action="create"> <i id="iCreateWidget" class="ace-icon fa fa-plus white"> </i></a>
                            <a href="@Url.Action("GererarExcelClientes", "Cliente")" data-rel="tooltip" data-placement="top" title="@Resources.EtiquetaResource.GenerarExcel" class="tooltip-info icono-generar-excel" data-action="excel"> <i id="iGenerarExcel" class="ace-icon fa fa-file-excel-o white"> </i></a>
                        </div>
                         
                    </div>
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                        <table id="dynamic-table-cliente"
                               data-etiqueta-enviando-correo="@Resources.EtiquetaResource.EnviandoCorreo"
                               data-mensaje-advertencia-envio-correo="@Resources.AdvertenciaResource.EnviarCorreoRegistro"  
                               data-url-localization="@Url.Content("~/Scripts/dataTables/localization/"+Resources.ConfiguracionResource.DataTables+ ".json")"
                               data-url="@Url.Action("getClientes", "Cliente")"
                               data-url-crear="@Url.Action("_getCrearCliente")"
                               data-url-editar="@Url.Action("_editarCliente", "Cliente")" 
                               data-url-editar-adicionales="@Url.Action("_editarDatosAdicionalesCliente")" 
                               data-url-crear-dispositivo="@Url.Action("_getAsociarDispositivo")"   
                               data-url-crear-vehiculo="@Url.Action("_getAsociarVehiculo")"
                               data-url-enviar-correo-registro="@Url.Action("enviarCorreoRegistro")"                                    
                               class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" role="grid" aria-describedby="dynamic-table_info">
                            <thead>
                                <tr role="row">
                                    <th  tabindex="0" aria-controls="dynamic-table" rowspan="1" data-name="EditarRegistro" colspan="1" aria-label="Editar Cliente"></th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="TipoDocumentoSeleccionado" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.TipoDocumentoSeleccionado)">@Html.DisplayNameFor(m => m.TipoDocumentoSeleccionado)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="Cedula"  rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.Cedula)">@Html.DisplayNameFor(m => m.Cedula)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="Nombre" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.Nombre)">@Html.DisplayNameFor(m => m.Nombre)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="Email" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.Email)">@Html.DisplayNameFor(m => m.Email)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="NumeroMovil" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.NumeroMovil)">@Html.DisplayNameFor(m => m.NumeroMovil)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="ListadoSims" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.ListadoSims)">@Html.DisplayNameFor(m => m.ListadoSims)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" data-name="DescripcionEstaActivo" rowspan="1" colspan="1" aria-label="@Html.DisplayNameFor(m => m.DescripcionEstaActivo)">@Html.DisplayNameFor(m => m.DescripcionEstaActivo)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!--/div-->
        </div>        
    </div>
 </div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryTable")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/fuelux/wizard")
    @Scripts.Render("~/bundles/duallistbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/masked")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/intranetSAI/Cliente/cliente")    
}

@section Styles {
    @Styles.Render("~/Content/css/select2")
    @Styles.Render("~/Content/css/duallistbox")
}